@font-face {
    font-family: 'BarlowCondensed';
    font-style: normal;
    font-weight: 500;
    src: local('BarlowCondensed-Medium'),
        url('/fonts/BarlowCondensed-Medium.woff2') format('woff2');
    font-display: swap;
}
