@font-face {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    src: local('Courgette'),
        url('/fonts/Courgette-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local('Inter-Regular'),
        url('/fonts/Inter/Inter-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local('Inter-Bold'),
        url('/fonts/Inter/Inter-Bold.woff2') format('woff2');
    font-display: swap;
}