@import url("./variables/colors.css");
@import url("./variables/typography.css");
@import url("./variables/screens.css");
@import url("./variables/other.css");

@import url("./css-components/scrollbar.css");
@import url("./css-components/link.css");
@import url("./css-components/logo.css");
@import url("./css-components/dialog.css");
@import url("./css-components/button.css");
@import url("./css-components/input.css");

*,
*::after,
*::before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: var(--font-family-primary), -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

body {
	background-color: var(--background-color);
	color: var(--text-dark-color);
}

button {
	cursor: pointer;
	padding: 0;
	border: 0;
	background: unset;
	color: inherit;
}

a {
	text-decoration: none;
	color: var(--text-primary);
}

p {
	margin: 0;
}

svg {
	flex-shrink: 0;
}

label {
	cursor: pointer;
	font: var(--font-body);
	text-align: start;
	margin-bottom: 0.5rem;
}

label.label--flex {
	display: inline-flex;
	align-items: center;
	gap: 1rem;
	margin: 0;
}

fieldset {
	padding: 0 4rem;
	margin: 0;
	border: none;
	display: inline-flex;
	flex-direction: column;
	gap: 1.5rem;
}

legend {
	margin-bottom: 2rem;
}

details summary {
	cursor: pointer;
	list-style: none;
}

.empty-page {
	font-size: 2.4rem;
	min-height: 50vh;
	padding: 0 var(--content-padding);
}

.empty-page::before {
	content: 'Pagina ';
}

.empty-page::after {
	display: block;
	content: '(Pagina in lucru)';
}

.separator {
	width: 100%;
	max-width: var(--content-max-width);
	height: 0.2rem;
	background-color: #8d5530;
	margin: 2rem 0;
}

.pageSection {
	padding: 6rem 0;
}

.glass {
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
}