.button {
    background: #8d5530;
    border-radius: 60px;
    color: white;
    padding: 1.4rem 3rem;
    text-align: center;
    text-decoration: none;
    font: 2rem/1.2 var(--font-family-primary);
    width: fit-content;
}

.button--primary {
    background-color: var(--accent-primary);
    padding: 2rem;
}

.button--arrow {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background: none;
}

.button--text {
    color: var(--accent-primary);
    font: 1.6rem/1.5 var(--font-family-primary);
}