.edge {
    width: 0.6rem;
    height: 0.6rem;
    background: var(--background-dark);
    position: absolute;
}

.edge.edge--active {
    background: var(--accent-primary);
}

.edge.edge--active::before {
    content: '';
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--accent-primary);
    position: absolute;
}

.edge.edge--active.edge--simple::before {
    display: none;
}

/* 0 - top left */
/* 1 - top right */
/* 2 - bottom left */
/* 3 - bottom right */
.edge.nr0 {
    top: 0;
    left: 0;
}

.edge.nr0.edge--active::before {
    left: 0;
    border-right-width: 0;
    border-bottom-width: 0;
}

.edge.nr1 {
    top: 0;
    right: 0;
}

.edge.nr1.edge--active::before {
    right: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

.edge.nr2 {
    bottom: 0;
    left: 0;
}

.edge.nr2.edge--active::before {
    bottom: 0;
    left: 0;
    border-top-width: 0;
    border-right-width: 0;
}

.edge.nr3 {
    bottom: 0;
    right: 0;
}

.edge.nr3.edge--active::before {
    bottom: 0;
    right: 0;
    border-top-width: 0;
    border-left-width: 0;
}