input:is([type='email'], [type='text'], [type='search']), textarea {
    padding: 1rem;
}

input:is([type='email'], [type='text'], [type='search'])::placeholder, textarea::placeholder {
    font-family: var(--font-family-primary);
}

textarea {
    min-height: 10rem;
    resize: none;
}

input[type='checkbox'] {
    cursor: pointer;
    appearance: none;
    margin: 0;
    border: 1px solid var(--text-dark-color);
    width: 2.4rem;
    height: 2.4rem;
    transition: 200ms background-color;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cpolygon style='fill:%23ffffff;' points='11.941,28.877 0,16.935 5.695,11.24 11.941,17.486 26.305,3.123 32,8.818 '/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
}

input[type='checkbox']:checked {
    background-color: var(--text-dark-color);
    background-size: 1.5rem;
}