input[type=text],
input[type=email],
input[type=password],
textarea {
    color: var(--text-primary);
    background: transparent;
    border: none;
    font: 400 1.8rem/1.5 var(--font-family-primary);
    border-bottom: 1px solid var(--background-dark);
    padding-bottom: 2rem;
}

input[type=password]::placeholder {
    font: 400 1.8rem/1.5 var(--font-family-primary);
}

input[type=password] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=radio] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    width: 2.2rem;
    height: 2.4rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='24' viewBox='0 0 22 24' fill='none'%3E%3Cpath d='M1.1077 6.28867L11 0.57735L20.8923 6.28867V17.7113L11 23.4227L1.1077 17.7113V6.28867Z' stroke='%23505050'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

input[type=radio]:checked {
    background-image:
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='24' viewBox='0 0 22 24' fill='none'%3E%3Cpath d='M1.1077 6.28867L11 0.57735L20.8923 6.28867V17.7113L11 23.4227L1.1077 17.7113V6.28867Z' stroke='%23FF521A'/%3E%3C/svg%3E"),
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14 16' fill='none'%3E%3Cpath d='M7 0L13.9282 4V12L7 16L0.0717969 12V4L7 0Z' fill='%23FF521A'/%3E%3C/svg%3E");
}

input[type=search] {
    color: var(--text-primary);
    font: 400 1.8rem/1.5 var(--font-family-primary);
    border: none;
    padding: 1.6rem 2rem;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(5px);
}

input[type=search]::placeholder {
    color: var(--text-secondary);
}