*::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
}

*::-webkit-scrollbar-track {
    background: var(--background-semi-transparent);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}