:root {
    --background-color: white;
    --background-semi-transparent: rgba(37, 39, 51, 0.7);
    --background-gray: #F3F3F3;
    --text-light-color: white;
    --text-dark-color: #252733;
    --border-navbar: rgba(255, 255, 255, 0.122);
    --primary-color: #F57F4B;
}