:root {
    --text-light-color: rgb(237, 235, 229);
    --primary-color: #8d5530ff;
    --moss-green: #8B914Dff;
    --khaki-web: #BFB094ff;
    --kombu-green: #384027ff;
    --text-dark-color: #292612ff;
}