:root {
	--content-max-width: 192rem;
	--content-padding: 10rem;
	--menu-height: 16.7rem;
}

@media only screen and (max-width: 1024px) {
	:root {
		--content-padding: 6rem;
	}
}

@media only screen and (max-width: 768px) {
	:root {
		--content-padding: 3rem;
	}
}

@media only screen and (max-width: 480px) {
	:root {
		--content-padding: 2rem;
	}

	article h2 {
		font: var(--font-h3) !important;
	}
}