:root {
    --font-family-primary: 'BarlowCondensed';
    --font-h1: 500 9.6rem/1.1 var(--font-family-primary);
    --font-h2: 500 6.4rem/1.2 var(--font-family-primary);
    --font-h3: 500 4.8rem/1.2 var(--font-family-primary);
    --font-h4: 500 2.4rem/1.2 var(--font-family-primary);
    --font-h5: 500 1.6rem/1.2 var(--font-family-primary);
    --font-h6: 500 1.2rem/1.2 var(--font-family-primary);
    --font-body: 500 1.6rem/1.5 var(--font-family-primary);
    --font-body-small: 500 1.4rem/1.5 var(--font-family-primary);
    --font-body-large: 500 2rem/1.5 var(--font-family-primary);
    --font-body-vlarge: 500 2.4rem/1.5 var(--font-family-primary);
    --font-body-huge: 500 3rem/1.5 var(--font-family-primary);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
}

.h1 {
    font: var(--font-h1);
}

.h2 {
    font: var(--font-h2);
}

.h3 {
    font: var(--font-h3);
}

.h4 {
    font: var(--font-h4);
}

.h5 {
    font: var(--font-h5);
}

.h6 {
    font: var(--font-h6);
}

.body {
    font: var(--font-body);
}

.body--small {
    font: var(--font-body-small);
}

.body--large {
    font: var(--font-body-large);
}

.body--vlarge {
    font: var(--font-body-vlarge);
}

.body--huge {
    font: var(--font-body-huge);
}

.caps {
    text-transform: uppercase;
}

/* var(--phone) */
@media only screen and (max-width: 1024px) {

    :root {
        --font-h1: 500 6.4rem/1.1 var(--font-family-primary);
        --font-h2: 500 4.8rem/1.2 var(--font-family-primary);
        --font-h3: 500 3.2rem/1.2 var(--font-family-primary);
        --font-h4: 500 2.4rem/1.2 var(--font-family-primary);
        --font-h5: 500 1.6rem/1.2 var(--font-family-primary);
        --font-h6: 500 1.2rem/1.2 var(--font-family-primary);
        --font-body: 500 1.6rem/1.5 var(--font-family-primary);
        --font-body-small: 500 1.2rem/1.5 var(--font-family-primary);
        --font-body-large: 500 1.6rem/1.5 var(--font-family-primary);
        --font-body-vlarge: 500 2rem/1.5 var(--font-family-primary);
        --font-body-huge: 500 2.4rem/1.5 var(--font-family-primary);
    }
}